<h2 class="mb-4">Ajouter un évènement</h2>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="border p-4 rounded bg-light">
  <div class="mb-3">
    <label class="form-label">Titre</label>
    <input class="form-control" formControlName="titre" />
    <div class="text-danger" *ngIf="eventForm.get('titre')?.invalid && eventForm.get('titre')?.touched">
      Titre est obligatoire.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea class="form-control" formControlName="description"></textarea>
    <div class="text-danger" *ngIf="eventForm.get('description')?.invalid && eventForm.get('description')?.touched">
      Min. 10 caractères.
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Lieu</label>
    <input class="form-control" formControlName="lieu" />
  </div>

  <div class="mb-3">
    <label class="form-label">Date</label>
    <input type="date" class="form-control" formControlName="date" />
  </div>

  <div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" formControlName="disponible" />
    <label class="form-check-label">Disponible</label>
  </div>

  <div class="mb-3">
    <label class="form-label">Nombre Max</label>
    <input type="number" class="form-control" formControlName="nbrMax" />
    <div class="text-danger" *ngIf="eventForm.get('nbrMax')?.invalid && eventForm.get('nbrMax')?.touched">
      Nombre positif requis.
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="eventForm.invalid">Ajouter</button>
</form>
